html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-wrap {
  display: flex;
  flex-direction: row;
}

/* * GLOBAL STYLING */

h1 {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Poppins", sans-serif;
}

h3 {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

label {
  /* color: pink; */
  font-size: large;
  font-family: "Poppins", sans-serif;

  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

/* * HEADER ONE START */
.header_one {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* margin: 0 auto; */
  height: 100px;
  background-color: #f98533;
}

#dialog-add-character {
  background-color: #89a0b4;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.348);
}

#searchInput {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
}

#searchInput::placeholder {
  color: #36395a;
}

/* * FILTER HEADER */
.filter {
  /* margin: 0 auto; */
  /* border: 5px solid pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 300px;
}

.filter__title {
  width: 20%;
  align-self: center;
  /* border: 2px solid pink; */
  text-align: center;
  font-size: 2rem;
  margin-right: 40px;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Poppins", sans-serif;
}

.filter__items {
  width: 70%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter__items-box {
  padding: 10px;
  /* border: 2px solid black; */
  border-radius: 10px;
}

/* * CLASSES */
#classes .classes-item {
  width: 300px;
  height: 80px;
  text-align: center;
  margin: 10px 0;
  border-radius: 5px;
  color: white;
  background-color: #f98532;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* * CHARACTER ITEMS */

.characters__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
  padding: 30px 20px;
}

.characters__item-item {
  color: white;
  background-color: #e78236be;
  border: 5px solid #f98532;
  margin: 10px;
  padding: 30px 20px;
  width: 400px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
}

#dialog-for-classes {
  pointer-events: none;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Poppins", sans-serif;
}

#dialog-for-classes dialog {
  pointer-events: auto;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

/* * BUTTON STYLING */

.button-30 {
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px 20px;
}

#sort-level-button {
  margin-right: 5px;
  padding: 7px 14px;
  font-size: 0.8rem;
}

#sort-ilvl-button {
  padding: 7px 14px;
  font-size: 0.8rem;
}

/* MODAL TITLE */
#first_add_char {
  border: 2px solid yellow;
  text-align: center;
  margin-top: 1px;
  padding: 2px;
  font-weight: bold;
}

/* CSS */
.button-30 {
  margin: 5px 0;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono", monospace; */
  font-family: "Poppins", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* * DIALOG ADD CHARACTER */

#dialog-add-character {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Poppins", sans-serif;
}

#form-add-character {
  padding: 20px 30px;
  background-color: #323232;
}

#dialog-update-character {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: #323232;
  padding: 20px 30px;
  font-family: "Poppins", sans-serif;
}
